@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #0f0e17;
}

p {
  color: #a7a9be;
}

h1, h2 {
  color: #ff8906;
}

a {
  color: #e53170;
}

h1 {
  margin: 1.5rem 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vh;
  width: 100%;
  background: #af9f9f;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0f0e17;
}

.flex-container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#id-projeto {
  display: flex;
  justify-content: center;
  height: 100%;
}

p {
  font-size: 2rem;
}

.foto-perfil {
  width: 10vw;
  border-radius: 5%;
  margin: 2rem 0;
}

.imagem-linguagem {
  width: 150px;
}

a {
  font-size: 1.3rem;
}

.seguidores {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #af9f9f;
  border-radius: 10px;
}

.seguidores img {
  width: 32px;
  margin: 0 4px;
  border-radius: 50%;
}

.seguidores div {
  margin: 0 16px;
  display: flex;
  align-items: center;
}