* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 20vh;
  width: 100%;
  background: #af9f9f;
}

#projetos {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#projetos div {
  width: 300px;
  height: 300px;
  margin: 10px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-style-bg-html-img {
  background: url(img/html-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-go-bg-img {
  background: url(img/go-logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-js-img {
  background: url(img/js-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-c-img {
  background: url(img/c-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-css-img {
  background: url(img/css-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-no-image-img {
  background: url(img/no-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link-clone {
  text-decoration: underline;
  cursor: pointer;
}
