@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0f0e17;
}

header {
  height: 20vh;
  width: 100%;
  background: #fffffe;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #ff8906;
  font-size: 4rem;
}



#projetos {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#projetos div {
  width: 300px;
  height: 300px;
  margin: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px #f7f7f7;
}

#projetos div span {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

#projetos div a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #d41b1b;
  margin: 0.2rem 0;
}

div a:hover {
  border-bottom: 2px solid #00bd6e;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-style-bg-html-img {
  background: url(img/html-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-go-bg-img {
  background: url(img/go-logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-js-img {
  background: url(img/js-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-c-img {
  background: url(img/c-logo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-css-img {
  background: url(img/css-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-style-bg-no-image-img {
  background: url(img/no-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link-clone {
  text-decoration: underline;
  cursor: pointer;
}
